/* BASE */

body {
    background-color: rgb(240, 175, 175);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body.fade-in *{
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.subtitle_text,
.title_text,
.try_button,
.camera_button {
    color: white;
    font-family: "Work Sans SemiBold", sans-serif;
    text-shadow: 2px 2px 4px rgba(24, 20, 23, 0.5);
    font-weight: bold;
    max-width: 450px;
    margin-left: 150px;
}

.title_text {
    margin-top: 200px;
    font-size: 40px;
    text-align: left;
}

.subtitle_text {
    font-size: 20px;
    text-align: left;
}

.homepage {
    height: 100%;
    width: calc(100%-20px);
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: left;
    align-items: left;
    margin-bottom: 0px;
    padding: 0px;
}

body.fade-in::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-image: radial-gradient(circle, #fdd1d1 10%, transparent 0%);
    background-size: 35px 35px;
}

.footer {
    background-color: rgb(255, 124, 17);
    width: 100%;
    height: 45px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
}

.links {
    background-color: white;
    width: 1600px;
    padding: 10px;
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;

}

.links nav {
    display: flex;
    justify-content: flex-end;
}

.links nav a {
    text-decoration: none;
    /* Remove underline from links */
    color: black;
    padding: 10px;
    margin-right: 10px;
    font-family: "Futura", sans-serif;

    transition: background-color 0.5s ease;
}

.links nav a:hover {
    background-color: rgb(249, 223, 205);
}

/* HOMEPAGE */

.image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 200px;
}

.image img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

.try_button,
.camera_button {
    background-color: rgb(255, 124, 17);
    font-size: 20px;
    width: 150px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(24, 20, 23, 0.5);

    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.try_button:hover,
.camera_button:hover {
    background-color: rgb(255, 154, 87);
    border-radius: 35px;
    cursor: pointer;
}

/* TRY IT YOURSELF */

.camera_button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-camera {
    font-size: 30px;
}

.camera-container {
    background-color: salmon;
    position: absolute;
    top: 20%;
    /* transform: translateY(-50%); */
    right: 200px;
    height: 400px;
    width: 530px;
    border-radius: 25px;
}

.camera-container canvas {
    display: none;
}

.camera-container button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display:none;
}

#cameraFeed {
    max-width: 100%;
    max-height: 100%;   
    border-radius: 25px;
}